.App {
  text-align: center;
  height: 800px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}

.input{
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-size: 20px;
  margin-top: 50px;
  opacity: 0.4;
}

.element{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.text{
  font-size: 16px;
  color: rgb(98, 97, 97);
  font-weight:500;
}

.MindX{
  font-size: 16px;
  color: grey;
  opacity: 0.4;
}

.todolist{
  font-size: 16px;
  color: grey;
  opacity: 0.4;
}

.App1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
